body {
  margin: 0;
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
}
#theme-app {
  height: 100%;
}
.title {
  font-size: 40px;
  margin: 60px auto;
}
button {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#root[data-mode="light"] {
  --color: #000;
  --bg-color: #fff;
  --btn-color: #fff;
  --btn-bg-color: #000;
}

#root[data-mode="dark"] {
  --color: #fff;
  --bg-color: #000;
  --btn-color: #000;
  --btn-bg-color: #fff;
}

#theme-app {
  background: var(--bg-color);
  color: var(--color);
}
button {
  background: var(--btn-bg-color);
  color: var(--btn-color);
}
