body {
  margin: 0;
  text-align: center;
}

#theme-app {
  width: 100vw;
  height: 100vh;
}
.title {
  font-size: 40px;
  margin: 60px auto;
}
button {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

/* 亮色模式 */
#theme-app[data-mode="light"] {
  background: #fff;
  color: #000;
}
#theme-app[data-mode="light"] button {
  background: #000;
  color: #fff;
}

/* 暗色模式 */
#theme-app[data-mode="dark"] {
  background: #000;
  color: #fff;
}
#theme-app[data-mode="dark"] button {
  background: #fff;
  color: #000;
}
